$px-percent-circle-fill-color       :   var(--px-percent-circle-fill-color, $blue5);
$px-percent-circle-background-color :   var(--px-percent-circle-background-color, $gray1);
$px-percent-circle-text-color       :   var(--px-percent-circle-text-color, $black);
