$px-percent-circle-fill-color       :   var(--px-percent-circle-fill-color, $dv-basic-blue);
$px-percent-circle-background-color :   var(--px-percent-circle-background-color, $grey2);
$px-percent-circle-text-color       :   var(--px-percent-circle-text-color, black);
